@charset "utf-8";
body {
    	font: 100% Verdana, Arial, Helvetica, sans-serif;
    	background: #bb5c03;
    	margin: 0; 
    	padding: 0;
    	text-align: center; 
    	color: #000000;
	}
	
a:link{
	color: #000000;
	text-decoration:none;
	font-weight:bold;
}
a:hover{
	color:#cccccc;
	font-weight:bolder;
	background-color:#FFFFFF;
	text-decoration: overline underline;
}


p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	font-style:normal;
	text-align:justify;
}

h1{text-align:left;}
h2{color:#FFAA00; text-align:left;}
h3{padding:0px 10px;}
	
.unColor #container {
	width: 1024px;
	background: #dbdbdd;
	margin: auto;
	border: 1px solid #000000;
	text-align: center;	
}

.unColor #header {
	/*background-color: #FFCC33;*/
	background-image:url(../img/cesta-de-navidad.jpeg);
	background-position:center;
	padding: 10px;
}
	
.unColor #header #menu {
	clear: both;
}
	
.unColor #mainContent {
	background:  #dbdbdd;
	height: 400px;
	background-position:center;
	background-size: cover;
}
.tituloPedido{
	text-align: center;
}
	
.unColor #footer {
	text-align: center;
	background-image:url(../img/cesta2.jpg);
	background-position:center bottom;
	height: 80px;
} 
	
.unColor #footer p {
	margin: 0; 
	font-weight:bolder;
	color: #fbfafa;
	text-align:center;
}

#bg {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}

#seleccionado{
	color: #CCCCCC;
	text-decoration:underline;
}

.hola{
	display: inline-block;
	background-color: #FFCC33;
}
.flotar1{
	float: left;
}

#menu{
	padding: 10px;
}

.yi{
	display: inline-block;
	margin: 15px;
}
.margen{
	margin: 10px;
}

.unColor #mainContentPanaderia {
	background: #FFcc00;
	background-image:url(../img/pan2.jpg);
	background-position:center;
	padding: 2px;

}
.unColor #mainContentPanaderia div{    /*le pones margen entre todos los divs del maincontent de panaderia*/
	margin: 2px;
	
}

.imagenDiv{
	float: left;
	width: 55%;
}
.textoDiv{
	float:left;
	width: 40%;

} 

.imagenDivPas{
	float: left;
	width: 55%;
}
.textoDivPas{
	float:left;
	width: 40%;
} 

#img_f {
	float: left;
	width: 250px;
	height: 250px;
	margin-right: 20px;
}
#fotos{
	width: 350px;
	height: 250px;
	margin-right: 20px;
}
#txtnomape, #txtfuncion{
	width: 300px;
	margin: 5px;
	padding: 2px;
	
}
#txttelefono{
	width: 70px;
	margin: 5px;
	padding: 2px;
	
}
#selecte{
	text-align: center;
	margin: 10px;
}
#lista {
   overflow:hidden;
   margin: 10px;
   width:90px;
   
}
label{
	font-size: 20px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#titulo{
	text-align: center;
}

main{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#pintar1{
	margin-right: 100px;
}

#pintar2{
	margin-right: 100px;
}

.cestasAlign{
	display: inline-block;
	width: 20%;
	margin: 10px;
	height: 50px;
}

.cestasAlign input{
	width:100%;
	height: 100%;
}

#img1 img{
	width: 250px;
}
#img2 img{
	width: 250px;
}
#img3 img{
	width: 250px;
}
#resumenInformacion{
	color: blue;
}